/**
 Stylesheet for CS50 final project
 */
       
html
{
    height: 100%;
}

body
{
    background-color: #9d9d9d;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

#top
{
    font-family: sans-serif;
    color: #0000ff;
    background-color: #6685e0;
    font-size: 26pt;
    text-align: left;
    height: 50px;
    width: 100%;
}

#mid
{
    position: absolute;
    font-size: 18pt;
    text-align: left;
    left: 0;
    width: 100%;
}

#bottom
{
    bottom: 0;
    font-size: smaller;
    height: 25px;
    position: absolute;
    width: 100%;
    text-align: center;
}

#menu
{
    text-align: center;
}

.reg_login_form
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.login
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn
{
    border: 2px #009999 solid;
    width: 200px;
}

#answer
{
    text-align: center;
    width: 300px;
    font-size: larger;
}

#answer_form
{
    text-align: center;
}

#game_area
{
    height: 50%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 3px #009999 solid;
    text-align: center;
    font-size: 30pt;
}

#timer
{
    width: 100px;
    height: 10px;
    font-size: larger;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#result
{
    bottom: 0;
    height: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#end
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
